@import "../../../../scss/styles/mixins";
@import "../../../../scss/theme/variables";

.card-car {
    width: 13rem;
    @include flexCol(center, center);
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 2px 2px 5px $green-color;

    &__input {
        @include inputCheckbox($white-color, $black-color, $green2-color)
    }

    &__text {
        padding-top: 0.4rem;
    }

    &__img {
        width: 11rem;
        height: 11rem;
        object-fit: cover;
        object-fit: contain;
        
    }

    &__no-img {
        @include flexCol(center, center);
        width: 11rem;
        height: 11rem;

        &--spinner {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 3px solid rgba(63, 231, 153, 0.3);
            border-radius: 50%;
            border-top-color: $green-color;
            animation: spin 1s ease-in-out infinite;
            -webkit-animation: spin 1s ease-in-out infinite;

            @keyframes spin {
                to { -webkit-transform: rotate(360deg); }
              }
            @-webkit-keyframes spin {
                to { -webkit-transform: rotate(360deg); }
                }
        }
        
       

    }
}