@mixin scrollbar ($colorBar, $colorBg) {
    ::-webkit-scrollbar {
        width: 0.3rem; 
      }
      
    ::-webkit-scrollbar-track {
       background: $colorBg;
     }
      
     ::-webkit-scrollbar-thumb {
       background: $colorBar;
       border-radius: 1rem;
     } 
}

@mixin inputSearchCancelBtn () {
  input[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      margin-left: 0.4em;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
      cursor: pointer;
  }
}

@mixin flexCol ($align, $justify){
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexRow ($align, $justify){
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin inputCheckbox ($bg-color, $border-color, $check-color) {
  display: flex;
  appearance: none;
  background: $bg-color;
  border: 1px solid $border-color;
  height: 1.2rem;
  width: 1.2rem;    
  border-radius: 3px;   
  cursor: pointer; 

  &::after {
    content: '✔';
    margin: auto;
  }

  &:not(:checked)::after {
    color: transparent;
    text-shadow: 0 0 0 transparent;
    transition: color 200ms ease-out, text-shadow 150ms ease-out 25ms;
  }

  &:checked::after {
    color: $check-color;
    text-shadow: 2px 3px 2px fade(black, 20);
    transition: color 200ms ease-out, text-shadow 150ms ease-out 25ms;
  }
}