@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.input-element {
    @include flexCol(start, center);
    width: 80%;
    padding: 0.3rem 0rem;
    font-weight: bold;

    &__input {
        margin-top: 0.4rem;
        width: 100%;
        font-size: 1rem;
        padding: 0.6rem 0.3rem;
        border-radius: 0.3rem;
        border: 1px solid $green-color;
        color: $gray-color;
    }
}