@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";
@import "../../../../scss/theme/breakpoints";

.header-employee {
    width: 100%;
    @include flexRow(center, center);
    padding: 1.5rem;

    @include sm {
        justify-content: flex-end;
    }
    
    &__info {
        width: 95%;
        height: 6.5rem;
        padding: 0.7rem 1.2rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px $gray-color;
        @include flexCol("", space-between);

        @include sm {
            width: 21rem;
        }  

        h4 {
            color: $green-color;
            font-family: $roboto;
            @include flexRow(center, space-between);
        
            span {
                color: $gray-color;
                font-weight: 400;
            }
        }
    }
}