@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');


//FONTS

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//COLORS

$green-color: #009368;
$white-color: #F7F7F7;
$black-color: #222222;

//BREAKPOINTS:

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
